/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 60%;
	max-width: 1300px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(./img/cinema.jpg);
	background-position: center;
	padding: 4em 2em;
	object-fit: cover;
	color: #eeeeee;
}

h1 {
	font-size: 3rem;
}

.watchlist-link {
	color: #eeeeee;
	text-decoration: none;
	font-weight: bolder;
}

.watchlist-link:hover,
.watchlist-link:focus {
	color: gold;
	transform: scale(1.2);
	/* transition: all; */
}

/* init layout  */
.movie-container {
	border: 3px solid red;
}

.movieDiv {
	border: 2px solid purple;
	display: flex;
	margin: 2em 0;
}

.textDiv {
	border: 2px solid orange;
	margin-left: 1em;
}

.poster {
	width: 15%;
	max-width: 300px;
}
