/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 60%;
	max-width: 1300px;
	margin: 0 auto;
	background-image: linear-gradient(
		180deg,
		hsl(0deg 0% 0%) 0%,
		hsl(344deg 0% 4%) 1%,
		hsl(344deg 0% 7%) 6%,
		hsl(344deg 0% 10%) 14%,
		hsl(344deg 0% 12%) 22%,
		hsl(344deg 0% 15%) 33%,
		hsl(344deg 0% 17%) 45%,
		hsl(344deg 0% 19%) 59%,
		hsl(344deg 0% 22%) 76%,
		hsl(0deg 0% 25%) 100%
	);
}

.margin-0 {
	margin: 0;
}

.flex {
	display: flex;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(./img/cinema.jpg);
	background-position: center;
	padding: 4em 2em;
	/* object-fit: cover; */
	color: #eeeeee;
}

h1 {
	font-size: 3.5rem;
}

.watchlist-link {
	color: #eeeeee;
	text-decoration: none;
	font-weight: bolder;
}

.watchlist-link:hover,
.watchlist-link:focus {
	color: gold;
	transform: scale(1.2);
	/* transition: all; */
}

/** search input and button */

.search {
	padding: 0.5em 1em;
	width: 100%;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
}

.search-btn {
	padding: 0.5em 1em;
	/* width: 20%; */
	border: none;
	cursor: pointer;
	background: gold;
	font-size: 1.3rem;
	font-weight: bolder;
}

.search-btn:hover,
.search-btn:focus {
	background-color: black;
	color: gold;
}

/* init layout  */
.movie-container {
	/* border: 3px solid red; */
	/* background-color: #08070d; */
	min-height: 100vh;
}

.movieDiv {
	border: 2px solid purple;
	margin-bottom: 2.5em;
	background-color: #eeeeee;
}

.movieDiv:first-of-type {
	margin-top: 2.5em;
}

.textDiv {
	/* border: 2px solid #ffa500; */
	margin-left: 1.5em;
	/* margin: 0 auto; */
	max-width: 650px;
}

.poster {
	width: 25%;
	max-width: 300px;
}

.margin-bottom {
	margin-bottom: 1em;
}

.title {
	display: inline-block;
	margin: 0.5em 0.5em 0.5em 0;
	font-size: 1.7rem;
}

.plot {
	font-size: 1.3rem;
}

.star-icon {
	display: inline-block;
	width: 0.9em;
	margin-right: 0.5em;
}

.imdb-rating {
	font-weight: bolder;
}

.watch-btn {
	display: block;
	margin: 1em 0;
	background: gold;
	padding: 0.5em 1em;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}

.watch-btn:hover,
.watch-btn:focus {
	background-color: black;
	color: gold;
}

.watchlist {
}
